<app-header [hideSlider]="1"></app-header>
<div class="section" id="b-section-header" name="Header">
     <div class="widget Header" data-version="2" id="Header1">
          <div class="header image-placement-behind no-image">
               <div class="container">
                    <h1><a>{{infoObj.contact_title}}</a></h1>
                    <p><strong>{{infoObj.contact_hint}}</strong></p>
               </div>
          </div>
     </div>
</div>
<section id="contact" class="my-4" [innerHTML]="htmlcontent"></section>
<app-footer></app-footer>