<admin-navbar></admin-navbar>
<!-- Start Statestics Section -->
<section class="stats">
     <div class="container">
          <div class="row">
               <div class="col-md-6">
                    <div class="card-counter primary">
                         <i class="fa fa-code-fork"></i>
                         <span class="count-numbers">{{articlesLength}}</span>
                         <span class="count-name">مقال</span>
                    </div>
               </div>

               <div class="col-md-6">
                    <div class="card-counter danger">
                         <i class="fa fa-ticket"></i>
                         <span class="count-numbers">{{productsLength}}</span>
                         <span class="count-name">منتج</span>
                    </div>
               </div>
          </div>
     </div>
</section>

<!-- Start Section Advertise -->
<section class="ads">
     <div class="container">
          <div class="card">
               <div class="card-header text-center"><b>منتجاتنا ومقالاتنا فى مجال العقارات والبناء</b></div>
               <div class="card-body row">
                    <div class="col">
                         <img src="../../../assets/img/Real-Estate.png" alt="" class="d-block w-100 mb-2">
                    </div>
               </div>
          </div>
     </div>
</section>

<admin-copyright></admin-copyright>